* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

/* body */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* header */
div#headerWrapper {
    background: linear-gradient(to top, rgb(79, 103, 134) , #002F6B 100%);

}

header {
    
    padding: 1rem 2%;
    color: white;
}

header img {
    float: left;
    padding-right: 15px;
}

header h1 {
    font-size: 2.5rem;
    margin: 25px 0px 0px 0px;
}

header h2 {
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
    display: none;
}

/* navigation */

div#navWrapper {
    background-color: #33027c;
}

nav {
    margin-bottom: 0px;   
}

nav ul {
    margin: 0px; padding: 0px;
}

nav li {
    list-style-type: none;
}

nav li.active { 
    background-color: white;
    
}

nav a {
    font-size: 1.5rem;
    display: block;
    padding: .8rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a.active {
    font-weight: 700;
    color: #33027c;
}

nav a:hover {
    background-color: white;
    color: #002F6B;
}

/* main */
main {
    background-color: rgb(238, 237, 237);
    padding: 1rem 2%;
}

main h1 {
    color: #33027c;
    margin: 10px 0 0 0;

}

picture.heroPhoto {
    display: block;
    width: 100%;
    margin: 0px;
 
}

picture.heroPhoto img {
    width: 100%;
}

figure.lights img {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

figure.lights {
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div#footerWrapper {
    background-color: #002F6B;
}

footer {
    text-align: center;
    padding: 1rem 2%; 
    color: white;
}